* {
    margin: 10px
}

h1 {
    font-size: 16px;
    color: blue;
}

p {
    text-align: justify;
}

.figuras {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    background-color: azure;
}
